.travel-path {
  margin-top: 2%;
  position: relative;
}
.graph{
  position: absolute;
  top: 20%;
  right: 0;
  left: 0;
  bottom: 0%;
  margin: auto;
  /* border-radius: 10px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    background: #fff; */
}
